In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import statsmodels.api as sm
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [2]:
dados = pd.read_excel('C:/Users/User/Desktop/Curso python/dados.xlsx')
dados.head()

      x      y    fx      fy  Unnamed: 4  Unnamed: 5  Unnamed: 6
0  1.55   20.0  1.55   31.00        0.11      0.0121       0.242
1  1.55   50.0  1.65   82.50        0.01      0.0001       0.005
2  1.65   30.0  1.75   52.50       -0.09      0.0081       0.243
3  1.65  100.0   NaN  166.00         NaN         NaN       0.490
4  1.65    NaN   NaN    1.66         NaN         NaN         NaN

In [ ]:
Xv = dados.iloc[:,0].values
y = dados.iloc[:,1].values

In [ ]:
Xm = np.array([Xv])
X = Xm.T

In [ ]:
X_sm = sm.add_constant(X)
results = sm.OLS(y, X_sm).fit()
results.summary()

In [ ]:
print(X)

In [ ]:
regre = linear_model.LinearRegression()

In [ ]:
regre.fit(X,y)

In [ ]:
y_est = regre.predict(X)

In [ ]:
plt.scatter(X, y, color='red')
plt.plot(X, y_est, color='blue', linewidth = 2)

plt.show

In [ ]:
regre.score(X,y)